<div style="padding: 15px">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>User profile</mat-card-title>
      <mat-card-subtitle>
        <span *ngIf="emailVerified">Keep your profile up to date. Any questions, please contact support.</span>
        <span class="emailVerifiedAlert" *ngIf="!emailVerified">Please check your email to confirm your registration. If you did not receive email confirmation of registration,
          <span (click)="sendEmailVerification()" class="linkColor cursorPointer">click here</span> to receive another email.</span>
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content fxFlexFill>
      <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px">
        <div fxFlex fxFlex.xs="100">
          <mat-form-field class="input-full-width">
            <input matInput placeholder="Email" [disabled]='true' value="{{user.email}}" />
          </mat-form-field>
        </div>
        <div fxFlex fxFlex.xs="100">
          <mat-form-field class="input-full-width">
            <input matInput placeholder="Name" [disabled]='true' value="{{user.name}}" />
          </mat-form-field>
        </div>
        <div fxFlex fxFlex.xs="100">
          <mat-form-field class="input-full-width">
            <input type="text" matInput [disabled]='true' placeholder="Last SignIn Time" value="{{lastSignInTime | date:'yyyy/MM/dd HH:mm:ss'}}" />
          </mat-form-field>
        </div>
        <div fxFlex fxFlex.xs="100">
            <mat-form-field class="input-full-width">
              <input matInput placeholder="Create at" [disabled]='true' value="{{user.createAt | date:'yyyy/MM/dd HH:mm:ss'}}" />
            </mat-form-field>
          </div>
          <div fxFlex fxFlex.xs="100">
              <mat-form-field class="input-full-width">
                <input matInput placeholder="Phone Number" [disabled]='true' value="{{user.phoneNumber}}" />
              </mat-form-field>
            </div>
        <div fxShow="true" fxHide.xs="true"></div>
      </div>
    </mat-card-content>

    <mat-card-actions fxLayoutAlign="end center">
        <button mat-raised-button color="primary" (click)="redefinePassword()">Redefine password</button>
        <button mat-raised-button color="primary" (click)="changeEmail()">Change email</button>
    </mat-card-actions>
  </mat-card>
</div>
