<div class="forgot-container">
  <mat-card>
    <mat-card-title>
      <mat-toolbar color="primary">
        <span>Forgot Password</span>
        <span class="spacer"></span>
        <mat-spinner diameter="25" strokeWidth="2" *ngIf="configs.isLoading" color="accent"></mat-spinner>
      </mat-toolbar>
    </mat-card-title>

    <mat-card-content>
      <form (submit)="onSubmit()" [formGroup]="forgotPasswordForm">

<span style="margin: 10px;">
  A link to your email will be sent to you to reset a new password.
</span>

        <mat-form-field>
          <input matInput type="email" placeholder="Your login email..." formControlName="email" />
          <mat-error *ngIf="email.hasError('required')">
            This field is required
          </mat-error>
          <mat-error *ngIf="email.hasError('email')">
            Please enter a valid email address
          </mat-error>
        </mat-form-field>

        <button type="submit" mat-button color="primary" [disabled]="forgotPasswordForm.invalid || configs.isLoading">Send e-mail</button>
        <button type="button" mat-button color="primary" (click)="backLogin()" [disabled]="configs.isLoading">Back</button>

      </form>

    </mat-card-content>
  </mat-card>

</div>
