.width_10 {
  width: 10%;
}

.width_20 {
  width: 20%;
}

.width_30 {
  width: 30%;
}

.width_40 {
  width: 40%;
}

.width_50 {
  width: 50%;
}

.width_60 {
  width: 60%;
}

.width_70 {
  width: 70%;
}

.width_80 {
  width: 80%;
}

.width_90 {
  width: 90%;
}

.width_100 {
  width: 100%;
}

.app-login .mat-spinner circle {
  stroke: #fff;
}

.spacer {
  flex: 1 1 auto;
}

.spinner {
  margin: 30px auto 0 auto;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
}

.mat-dialog-no-padding .mat-dialog-container {
  padding: 0;
}
